body {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  height: 150px;
}

.content {
  padding-top: 250px;
}

.btn {
 background-color: #a1a1a1;
}

.btn:hover {
 background-color: #bdbdbd;
 color: black;
}

.border-bottom {
 border-color: black;
}

.invalid {
 color: red;
}

.error-messages {
 padding-top: 180px;
}

.alert-success {
 color: #29962f;
 background-color: #8ad18e;
}

.alert-danger {
 color: #7d1f25;
 background-color: #ff7878;
}