{% extends "layout.html" %}
{% block brand %}
    <a href="/" class="navbar-brand mr-2" style="font-size: 50px;"><img src="{{ url_for('static', filename='images/algorithm.png') }}" width="110" height="110"></a>
{% endblock brand %}

{% block navigation %}
    <li class="nav-item">
        <a class="nav-link" href="#">O projekcie</a>
    </li>
{% endblock navigation %}
{% block content %}
<div class="row mr-0 content-wrap">
    <div class="col-xl-3 col-sm-1">

    </div>
    <div class="container col-xl-6 col-sm-10 bg">
        <div class="form p-2" style="height: auto;">
        <div class="account ml-3 mr-3">
            <div class="content-section">
                <form method="POST" action="">
                {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="text-center border-bottom mt-10 mb-10">Wylicz minimum</legend>
                        <div class="form-group">
                            {{ form.gradient_accuracy.label(class="form-control-label ml-2") }}

                            {% if form.gradient_accuracy.errors %}
                                {{ form.gradient_accuracy(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid feedback">
                                    <span>Pole powinno być  nieujemną liczbą rzeczywistą.</span>
                                </div>
                            {% else %}
                                {{ form.gradient_accuracy(class="form-control form-control-lg", placeholder="") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.x_accuracy.label(class="form-control-label ml-2") }}

                            {% if form.x_accuracy.errors %}
                                {{ form.x_accuracy(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid feedback">
                                    <span>Pole powinno być  nieujemną liczbą rzeczywistą.</span>
                                </div>
                            {% else %}
                                {{ form.x_accuracy(class="form-control form-control-lg", placeholder="") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.function_accuracy.label(class="form-control-label ml-2") }}

                            {% if form.function_accuracy.errors %}
                                {{ form.function_accuracy(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid feedback">
                                    <span>Pole powinno być  nieujemną liczbą rzeczywistą.</span>
                                </div>
                            {% else %}
                                {{ form.function_accuracy(class="form-control form-control-lg", placeholder="") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.number_of_iterations.label(class="form-control-label ml-2") }}

                            {% if form.number_of_iterations.errors %}
                                {{ form.number_of_iterations(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid feedback">
                                    <span>Pole powinno być liczbą z zakresu od 0 - 1.000.000.</span>
                                </div>
                            {% else %}
                                {{ form.number_of_iterations(class="form-control form-control-lg", placeholder="") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.equation.label(class="form-control-label ml-2") }}

                            {% if form.equation.errors %}
                                {{ form.equation(class="form-control form-control-lg is-invalid") }}
                            {% else %}
                                {{ form.equation(class="form-control form-control-lg", placeholder="") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.min_factor.label(class="form-control-label ml-2") }}

                            {% if form.min_factor.errors %}
                                {{ form.min_factor(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid feedback">
                                    <span>Pole powinno być  nieujemną liczbą rzeczywistą.</span>
                                </div>
                            {% else %}
                                {{ form.min_factor(class="form-control form-control-lg", placeholder="") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.point.label(class="form-control-label ml-2") }}

                            {% if form.point.errors %}
                                {{ form.point(class="form-control form-control-lg is-invalid") }}
                            {% else %}
                                {{ form.point(class="form-control form-control-lg", placeholder="") }}
                            {% endif %}
                        </div>



                    </fieldset>
                    <div class="form-group text-center mt-2 mb-1">
                        {{ form.calculate(class="btn") }}
                    </div>
                    <div class="text-muted text-left">
                        <div>
                            <small>wszystkie dokładności należy podawać w formacie 0.x, np 0.01</small>
                        </div>
                        <div>
                            <small>* wszystkie wartości dla sin, cos, log i exp należy wpisywać w nawiasach kwadratowych,
                            np log[x]; zmienne należy oznaczyć jako x1, x2, x3 itd.</small>
                        </div>
                        <div>
                            <small>**  punkt startowy należy wpisać w postaci liczb po spacji, np. 0 0 -1</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-3 col-sm-1">

    </div>

</div>
{% endblock content %}